<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label "Comentarista" %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label "Comentário" %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Comentar" %>
  </p>
<% end %>
